<!DOCTYPE html>
<html>
    
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>web page</title>
        <link rel="stylesheet" href="../static/css/styleRegister.css" type="text/css" media="all" />
        <script src="../static/js/appRegister.js" type="text/javascript" charset="utf-8"></script>
    </head>
    
    <body>
    <h1>Register users</h1>
    <form>
        <label>Identification</label> <input type= "number"/><br><br>
        <label>Name</label> <input type= "text"/><br><br>
        <label>Last name</label> <input type= "text"/><br><br>
        <label>Birthday</label> <input type= "date"/><br><br>
        <button onClick= "registeruser()">Register</button>
    </body>
    
</html>